* {
    margin: 10px;
}

.link-google {
    background-color: #4285F4;
    color: #F4B400;
    border: 4px solid #0F9D58;
    border-radius: 4px;
    padding: 2px;
    font-weight: bold;
    text-decoration: none;
}

.link-youtube {
    border: 4px solid red;
    color: black;
    border-radius: 4px;
    padding: 2px;
    font-weight: bold;
    text-decoration: none;
}

.hover-div {
    width: 50px;
    height: 50px;
    background-color: grey;
    box-shadow: 3px 4px black;
}

.hover-div-color {
    width: 50px;
    height: 50px;
    background-color: plum;
    box-shadow: 3px 4px black;
}