.container {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: auto;
    background-color: #2f2e3d;
    border-radius: 10px;
}

.sequencer {
    padding: 20px;
}

.instrument {
    display: flex;
    justify-content: center;
    margin: 1px;
}

.step {
    float: left;
    height: 50px;
    width: 50px;
    border: 1px solid #2f2e3d;
    border-radius: 3px;
    background-color: white;
    opacity: 0.5;
}

.step-red {
    background-color: #d92919;
}

.step-orange {
    background-color: #ef7b23;
}

.step-yellow {
    background-color: #dcd830;
}

.step-white {
    background-color: #e6e7c1;
}

.step-marked {
    opacity: 0.9;
}

.step-active {
    opacity: 1;
}
