.container {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: auto;
    border: 2px solid black;
}

.instrument {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.step {
    height: 50px;
    width: 50px;
    border: 2px solid blue;
    float: left;
    background-color: white;
}

.step-bd {
    background-color: white;
}

.step-hh {
    background-color: white;
}

.step-marked {
    background-color: green;
}

.step-active {
    background-color: red;
}
