body {
    background-image: linear-gradient(to bottom, rgba(123, 22, 235, 1), rgba(255, 255, 255, 0));
    background-repeat: no-repeat;
    background-size: auto 200px;
}

h1 {
    background-color: tomato;
    padding: 10px;
    border: 4px solid greenyellow;
    background-clip: content-box;
}

li {
    background-image: linear-gradient(to right, red, green, blue, yellow, orange);
    background-size: 400px auto;
    background-repeat: no-repeat;
    background-position: right;
}

img {
    width: 20%;
    margin: 0px 20px 20px 20px;
    float: left;
}

h3 {
    clear: left;
}